doctype html

html
  head
    title= title == null ? 'Kowaseru' : `${title} - Kowaseru`
    block head
      link(href='/public/assets/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  body
    nav.navbar.navbar-expand-lg
      div.container
        a.navbar-brand(href='/') Kowaseru


        if (global.currentUser == null)
          div
            a.btn.btn-outline-secondary.me-2(href='/signin') Sign In
            a.btn.btn-primary(href='/signup') Sign Up

        else
          div.d-flex
            div.me-2= global.currentUser.name
            div
              form(action='/signout' method='post')
                button.btn.btn-danger(type='submit') Sign Out

    block content
    block foot
      footer#footer
        p.text-center Kowaseru Server

    script(src='/public/assets/bootstrap/js/bootstrap.min.js')
