extends _layout.pug

block content
  nav.navbar.navbar-expand-lg
    div.container-fluid
      a.navbar-brand(href='/') Kowaseru
      div
        a.btn.btn-outline-secondary.me-2(href='/signin') Sign In
        a.btn.btn-primary(href='/signup') Sign Up
