extends _layout.pug
include mixins/post.pug

block content
  div.container
    div.row
      div.col-sm-6.offset-sm-3
        if (global.currentUser != null)
          div.card.p-2
            if (typeof error === 'string')
              div.alert.alert-danger
                case (error)
                  when 'missing-content'
                    | Content is missing.
                  when 'unauthenticated'
                    | You need to sign up to post.
            form(action='/posts' method='post')
              div.form-group.mb-2
                textarea.form-control(name='content' placeholder='What are you thinking now?' required)
              div
                button.btn.btn-primary(type='submit') Post
        else
          div.card.p-2
            p Sign up to post
            div.mb-2
              a.btn.btn-primary(href='/signup') Sign Up
            div.mb-2
              a.btn.btn-outline-secondary(href='/signin') Sign In

        hr

        each post in posts
          +post(post)
