extends _layout.pug
include mixins/post.pug

block content
  div.container
    div.row
      div.col-sm-6.offset-sm-3

        h1 Search Result: #{keyword}

        hr

        each post in posts
          +post(post)
