extends _layout.pug

block content
  div.container-sm
    div.row
      div.col-sm-6.offset-sm-3
        h1 Sign Up
        form(action='/signup' method='post')
          div.form-group
            label User Name
            input.form-control(type='string' name='name')
          div.form-group
            label E-mail
            input.form-control(type='email' name='email')
          div.form-group
            label Password
            input.form-control(type='password' name='password')
          div.mt-2.d-grid
            button.btn.btn-primary(type='submit') Sign Up
